OPENAI_API_KEY=YOUR_OPENAI_API_KEY
BROWSERBASE_API_KEY=YOUR_BROWSERBASE_API_KEY
BROWSERBASE_PROJECT_ID=YOUR_BROWSERBASE_PROJECT_ID
AUTOPPIA_AGENT_BASE_URL=http://localhost:5000
MONGO_CONNECTION_URI=YOUR_MONGO_CONNECTION_URI
JWT_SECRET=YOUR_JWT_SECRET
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USERNAME=YOUR_EMAIL
EMAIL_HOST_PASSWORD=YOUR_EMAIL_APP_PASSWORD